@layer utilities {
  .asideScroll {
    @apply scroll-smooth 
    [&::-webkit-scrollbar]:w-1
    [&::-webkit-scrollbar]:rounded-full
    [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar]:bg-scrollBar
    [&::-webkit-scrollbar-track]:bg-scrollTrack
    [&::-webkit-scrollbar-thumb]:bg-scrollBar
    hover:[&::-webkit-scrollbar-thumb]:bg-scrollHover;
  }

  .mainScroll {
    @apply scroll-smooth
      [&::-webkit-scrollbar]:w-2 
      [&::-webkit-scrollbar]:h-2 
      [&::-webkit-scrollbar-track]:bg-mainScrollTrack 
      [&::-webkit-scrollbar-thumb]:bg-mainScrollThumb 
      hover:[&::-webkit-scrollbar-thumb]:bg-mainScrollHover
      sm:[&::-webkit-scrollbar]:hidden;
  }

  .mainScroll::-webkit-scrollbar-button:single-button:decrement {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M12 8l6 6H6z"/></svg>');
    @apply bg-center bg-no-repeat h-4 bg-mainScrollThumb;
  }

  /* Pastga yo'nalgan button */
  .mainScroll::-webkit-scrollbar-button:single-button:increment {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M6 10l6 6 6-6z"/></svg>');
    @apply bg-center bg-no-repeat h-4 bg-mainScrollThumb;
  }
}
